Repository xstelea/multisig: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint, oxfmt --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs}": ["oxlint", "oxfmt --write"],
  "*.json": "oxfmt --write"
}

chore: use crates.io deps for multisig-poc, add architecture docs
  README.md
  agents.md
  context/radix-Account.md
  context/radix-TransactionManifest.md
  multisig-poc/Cargo.lock
  multisig-poc/Cargo.toml
Due: none

feat: add interactive CLI for creating multisig accounts
  create-account-cli/Cargo.toml
  create-account-cli/src/main.rs
  create-account-cli/src/manifest.rs
Due: none

feat: multisig fixes
  multisig-app/package.json
  multisig-app/src/atom/orchestratorClient.ts
  multisig-app/src/atom/proposalAtoms.ts
  multisig-app/src/routes/proposals/$id.tsx
  multisig-server/.env.example
  multisig-server/migrations/006_proposer_timestamps.sql
  multisig-server/src/main.rs
  multisig-server/src/proposal_store.rs
  multisig-server/src/transaction_builder.rs
  pnpm-lock.yaml
Due: oxlint, oxfmt --write

feat: add generate-fee-payer-cli and document CLI tools in README
  README.md
  generate-fee-payer-cli/Cargo.lock
  generate-fee-payer-cli/Cargo.toml
  generate-fee-payer-cli/src/main.rs
Due: none

feat: add deploy configs, epoch time display, and UI improvements
  .dockerignore
  create-account-cli/Cargo.lock
  dev.sh
  fly.multisig-app.toml
  fly.multisig-server.toml
  multisig-app/Dockerfile
  multisig-app/package.json
  multisig-app/src/atom/gatewayAtoms.ts
  multisig-app/src/lib/dappToolkit.ts
  multisig-app/src/lib/envVars.ts
  multisig-app/src/lib/epochTime.ts
  multisig-app/src/routes/index.tsx
  multisig-app/src/routes/proposals/$id.tsx
  multisig-app/src/routes/proposals/new.tsx
  multisig-app/vite.config.ts
  multisig-server/Dockerfile
  package.json
  pnpm-lock.yaml
Due: oxlint, oxfmt --write

feat: return JSON error responses and extract server error messages in client
  multisig-app/src/atom/orchestratorClient.ts
  multisig-server/src/main.rs
  multisig-server/src/signature_collector.rs
Due: oxlint, oxfmt --write

feat: update multisig account, bump dapp toolkit, and add client-side subintent hash validation
  fly.multisig-app.toml
  fly.multisig-server.toml
  multisig-app/package.json
  multisig-app/src/routes/proposals/$id.tsx
  pnpm-lock.yaml
Due: oxlint, oxfmt --write

feat: add transaction preview to proposal detail page
  multisig-app/src/atom/accessRuleAtom.ts
  multisig-app/src/atom/handleSignAtom.ts
  multisig-app/src/atom/previewAtom.ts
  multisig-app/src/custom-elements.d.ts
  multisig-app/src/lib/dappToolkit.ts
  multisig-app/src/routes/__root.tsx
  multisig-app/src/routes/index.tsx
  multisig-app/src/routes/proposals/$id.tsx
Due: oxlint, oxfmt --write

feat: per-proposal multisig account address
  fly.multisig-app.toml
  fly.multisig-server.toml
  multisig-app/Dockerfile
  multisig-app/src/atom/accessRuleAtom.ts
  multisig-app/src/atom/orchestratorClient.ts
  multisig-app/src/atom/proposalAtoms.ts
  multisig-app/src/lib/envVars.ts
  multisig-app/src/routes/index.tsx
  multisig-app/src/routes/proposals/$id.tsx
  multisig-app/src/routes/proposals/new.tsx
  multisig-server/.env.example
  multisig-server/migrations/007_multisig_account.sql
  multisig-server/src/main.rs
  multisig-server/src/proposal_store.rs
  multisig-server/src/validity_monitor.rs
Due: oxlint, oxfmt --write

feat: add create multisig account page
  multisig-app/package.json
  multisig-app/src/lib/envVars.ts
  multisig-app/src/lib/manifest.ts
  multisig-app/src/routeTree.gen.ts
  multisig-app/src/routes/create-account.tsx
  multisig-app/src/routes/index.tsx
  pnpm-lock.yaml
Due: oxlint, oxfmt --write

refactor: migrate multisig-app UI to shadcn/ui components
  multisig-app/components.json
  multisig-app/package.json
  multisig-app/src/components/back-link.tsx
  multisig-app/src/components/section-card.tsx
  multisig-app/src/components/status-badge.tsx
  multisig-app/src/components/ui/alert.tsx
  multisig-app/src/components/ui/badge.tsx
  multisig-app/src/components/ui/button.tsx
  multisig-app/src/components/ui/card.tsx
  multisig-app/src/components/ui/input.tsx
  multisig-app/src/components/ui/label.tsx
  multisig-app/src/components/ui/progress.tsx
  multisig-app/src/components/ui/separator.tsx
  multisig-app/src/components/ui/skeleton.tsx
  multisig-app/src/components/ui/table.tsx
  multisig-app/src/components/ui/textarea.tsx
  multisig-app/src/lib/utils.ts
  multisig-app/src/routes/__root.tsx
  multisig-app/src/routes/index.tsx
  multisig-app/src/routes/proposals/$id.tsx
  multisig-app/src/routes/proposals/new.tsx
  multisig-app/src/styles.css
  pnpm-lock.yaml
Due: oxlint, oxfmt --write

fix: increase Node heap size for Docker build and bypass Depot builder
  multisig-app/Dockerfile
  package.json
Due: oxfmt --write

feat: auto-detect multisig accounts from manifest and fix error propagation
  multisig-app/src/atom/orchestratorClient.ts
  multisig-app/src/atom/proposalAtoms.ts
  multisig-app/src/routes/proposals/new.tsx
  multisig-server/src/main.rs
  multisig-server/src/manifest_analyzer.rs
  multisig-server/src/transaction_builder.rs
Due: oxlint, oxfmt --write

docs: fix README to reflect actual single-child transaction architecture
  README.md
Due: none

fix: allow threshold input to be cleared before typing new value
  multisig-app/src/routes/create-account.tsx
Due: oxlint, oxfmt --write

feat: add edit access rule page and supporting backend/frontend changes
  multisig-app/src/atom/orchestratorClient.ts
  multisig-app/src/atom/proposalAtoms.ts
  multisig-app/src/lib/manifest.ts
  multisig-app/src/routeTree.gen.ts
  multisig-app/src/routes/edit-access-rule.tsx
  multisig-app/src/routes/index.tsx
  multisig-server/src/main.rs
Due: oxlint, oxfmt --write

fix: apply threshold input bug fix to edit-access-rule page
  multisig-app/src/routes/edit-access-rule.tsx
Due: oxlint, oxfmt --write

fix: require minimum 2 signers when creating multisig account
  multisig-app/src/routes/create-account.tsx
Due: oxlint, oxfmt --write

fix: block edit-access-rule when owner role is locked
  multisig-app/src/atom/orchestratorClient.ts
  multisig-app/src/routes/create-account.tsx
  multisig-app/src/routes/edit-access-rule.tsx
  multisig-server/src/gateway.rs
  multisig-server/src/signature_collector.rs
  multisig-server/src/validity_monitor.rs
Due: oxlint, oxfmt --write

feat: add OpenAPI schema and Swagger UI via utoipa
  multisig-server/Cargo.lock
  multisig-server/Cargo.toml
  multisig-server/src/gateway.rs
  multisig-server/src/main.rs
  multisig-server/src/proposal_store.rs
  multisig-server/src/signature_collector.rs
Due: none

fix: use vendored Swagger UI assets for Docker builds
  multisig-server/Cargo.lock
  multisig-server/Cargo.toml
Due: none
